{% extends 'base.html' %} 
{% block content %}


<div class="container">
<div class="row">    
<button type="button" class="btn btn-primary">Init and Update data</button>
</div>
</div>

<div class="container">
<div class="row"> 
<div class="alert alert-success">
    <h4 class="alert-heading"></h4>
    <p>
{% for flower in flowers %}
    
    {{ flower.state.continent }}, {{ flower.name }}, {{ flower.state }} <br />

{% endfor %}

Total = {{ flowers_count }}
</p>

</div>
</div>
</div>

{% endblock %}




